include:
  - https://gitlab.com/jitesoft/gitlab-ci-lib/raw/master/Scan/trivy.yml

stages:
  - download
  - containerize
  - scan

variables:
  PLATFORMS: "linux/amd64,linux/arm64"

download:
  parallel:
    matrix:
      - { VERSION: "8", GIT_STRATEGY: "none" }
      - { VERSION: "9", GIT_STRATEGY: "none" }
  stage: download
  image: registry.gitlab.com/jitesoft/dockerfiles/misc:latest
  variables:
    VERSION: ""
    GIT_STRATEGY: none
  script:
    - wget -qO- https://sebastian-bergmann.de/gpg.asc | gpg --import
    - wget https://phar.phpunit.de/phpunit-${VERSION}.phar
    - wget https://phar.phpunit.de/phpunit-${VERSION}.phar.asc
    - gpg --verify phpunit-${VERSION}.phar.asc phpunit-${VERSION}.phar
    - mkdir bin
    - mv phpunit-${VERSION}.phar bin/
  artifacts:
    paths:
      - bin/
    expire_in: 1 hour

containerize:
  parallel:
    matrix:
      #- { PHP_VERSION: "8.0", TAGS: "rc,unstable,rc-9,8.0-9,8.0", UNIT_VERSION: "9" }
      - { PHP_VERSION: "7.4", TAGS: "latest,stable,7.4-9,7.4", UNIT_VERSION: "9" }
      - { PHP_VERSION: "7.4", TAGS: "7.4-8", UNIT_VERSION: "8" }
      - { PHP_VERSION: "7.3", TAGS: "7.3-8,7.3", UNIT_VERSION: "8" }
  stage: containerize
  image: registry.gitlab.com/jitesoft/dockerfiles/misc:latest
  script:
    - TAG_LIST=$(helper "jitesoft/phpunit,${CI_REGISTRY_IMAGE}" "${TAGS}")
    - docker buildx build --platform ${PLATFORMS} --progress plain --push ${TAG_LIST} --build-arg PHP_VERSION=${PHP_VERSION} --build-arg UNIT_VERSION=${UNIT_VERSION} .
  tags: [ jitesoft, buildx, protected ]

scan:
  extends: .container_scanning
  parallel:
    matrix:
      - { SCANNING_IMAGE_NAME: "${CI_REGISTRY_IMAGE}:7.4-8", GIT_STRATEGY: "none" }
      - { SCANNING_IMAGE_NAME: "${CI_REGISTRY_IMAGE}:7.4-9", GIT_STRATEGY: "none" }
      - { SCANNING_IMAGE_NAME: "${CI_REGISTRY_IMAGE}:7.3-8", GIT_STRATEGY: "none" }
